.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .5s;
    cursor: pointer;
}

.btn__blue {
    background: #0082F3;
    font-family: $ff;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: #fff;
}
.btn__red {
    background: #E30613;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    width: 100%;
    height: 100%;
    color: #fff;
    box-shadow: 0 3px #AA0E17;
    &:hover {
        background: #F4424D;
        transition: .5s;
    }
}
.btn__default {
    font-family: $ff;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: #fff;
    border: 1px solid #fff;
}