.white {
    color: #fff;
}
.decoration {
    text-decoration: underline;
}
.bold {
    font-weight: bold;
}
.normal {
    font-weight: 300;
}
.size__16 {
    font-size: 16px;
}
.uppercase {
    text-transform: uppercase;
}
.text__center {
    text-align: center;
}

.rub {
    position: relative;
    &:after {
        content: ' ₽';
        font-size: 36px;
    }
}

.dig__block {
    background: #FFFFFF;
    box-shadow: 0px 24px 30px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.dig__header {
    background: #E30613;
    padding: 21px 46px 7px;
    position: relative;
    margin-bottom: 104px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -40px;
        border-top: 40px solid #E30613;
        border-left: 175px solid transparent;
        border-right: 174px solid transparent;
    }
}
.dig__header__caption {
    font-family: $ff;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;
    text-align: center;
}
.dig__header__desc {
    font-family: $ff;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    text-align: center;
}
.dig__body {
    padding: 0 46px 39px;
}
.dig__body__caption {
    font-family: $ff;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #BDBDBD;
    margin-bottom: 11px;
}
.dig__body__desc {
    font-family: $ff;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #000000;
    margin-bottom: 45px;
}
.money__price {
    font-family: $ff;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 64px;
    color: #E30613;
    margin-bottom: 63px;
}
.dig__btn {
    width: 253px;
    height: 40px;
}

.services {
    .slick-prev:before {
        content: ' ';
        background: url(../images/left_w.svg) no-repeat;
        width: 20px;
        height: 25px;
        display: block;
    }
    .slick-next:before {
        content: ' ';
        background: url(../images/right_w.svg) no-repeat;
        width: 20px;
        height: 25px;
        display: block;
    }
    .slick-prev, .slick-next {
        z-index: 999;
    }
}

.sertifics {
    .slick-prev, .slick-next {
        display: none;
    }
}

.slick-dots {
    bottom: -50px;
}
.slick-dots li button:before {
    font-size: 26px;
    color: #E0E0E0;
    opacity: .5;
    &:hover {
        color: #fff;
    }
}
.slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 1;
}

//sertificats 

.sertifics {
    .slick-dots li.slick-active button:before {
        color: #0290C8;
    }
}


//mobile menu

.menu__btn {
    display: none;
    position: absolute;
    right: 15px;
    top: 7px;
    width: 30px;
}
 
.c-hamburger {
    display: block;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background .3s;
    background: none;
}
.c-hamburger span {
    display: block;
    position: absolute;
    top: 10px;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
 
.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    content: "";
}
 
.c-hamburger span::before {
    top: -10px;
}
 
.c-hamburger span::after {
    bottom: -10px;
}

.menu__mob__right {
    display: none;
    position: fixed;
    top: 0;
    width: 200px;
    background: #fff;
    right: -100%;
    height: 100%;
    padding: 30px;
}
.mob__nav {
    display: flex;
    flex-flow: column;
    margin-top: 24px;
    a {
        color: #444;
        margin-bottom: 8px;
    }
}