.modals {
    display: none;
}
.modal__caption {
    display: flex;
    align-items: center;
}
.modal__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: #4F4F4F;
}
.modal__body {
    form {
        margin-top: 28px;
    }
    .form__input {
        border: 1px solid #E0E0E0;
        margin-bottom: 11px;
    }
    .form__textarea {
        margin-bottom: 16px;
        height: 146px;
    }
    .atten {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 10px;
        color: #828282;
        margin-bottom: 28px;
    }
    .modal__polit {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 10px;
    }
    .btn {
        height: 40px;
        margin-bottom: 18px;
    }
}
.close {
    position: relative;
    margin-left: auto;
    width: 19px;
    height: 18px;
    &:after {
        content: ' ';
        position: absolute;
        right: 0;
        top: calc(50% - 9px);
        width: 19px;
        height: 18px;
        background: url(../images/close.png) no-repeat;
        cursor: pointer;
    }
}